body{
    background-color:#eee;    
}
/*Para Modificar el estolo por Id se pone el numeral y el nombre del id 
y entre yaves las propiedades a cambiar.
los id son unicos no se pueden repetir
*/
/*Para Modificar solo lo por Clase se pone el . y el nombre de la clase 
y entre yaves las propiedades a cambiar.
laas clases se pueden repetir
*/

ul{
    list-style-type: none;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 8px;
    padding-left: 0px;
}

li{
    border-bottom: solid 1px #ddd;
    padding: 15px;
}